*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    
   background-color: rgb(237, 242, 246);
}
/* TOP STRIP */
.top-strip{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    max-height:60px;
    background: rgb(63, 66, 87);
    overflow: hidden;
}

.top-strip-profiletext-container{
    height: 100%;
    width: 10%;
}

.top-strip-profiletext-container h3{
    color: #fff;
    text-align: center;
    padding-top: 15%;
    font-size: 12px;
}

.top-strip-button-container{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 30%;
    background-color: rgb(73, 76, 98);
}

.top-strip-button-container input{
    border: none;
    width: 90%;
    height: 60px;
    background-color: rgb(73, 76, 98);
    color: grey;
    padding-left: 10px;
    text-align: left;
}


.top-strip-button-container input:target{
    border: none;
}

.top-strip-button-container button{
    width: 10%;
    height: 60px;
    background-color: rgb(73, 76, 98);
    color: grey;
    text-align: center;
    font-size: 20px;
    padding-top: 1.25%;
}

.top-strip-findfriends-container{
    width: 20%;

}

.top-strip-findfriends-container h3{
    color: #fff;
    text-align: left;
    font-size: 12px;
    padding-top: 7%;
    padding-left: 5%;
}

.top-strip-notification-container{
    width: 25%;
    display: flex;

}

.top-strip-notification-inner-container{
    display: flex;
    width: 40%;
    margin-left: 50%;
}
.top-strip-notification-icons{
    color: white;
    width: 100%;
    font-size: 20px;
    padding-top: 12%;
    padding-right: 12%;
}

.top-strip-profilepic-container{
    width: 15%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.top-strip-profilepic-image{
    width:20%;
}

.top-strip-profilepic-image img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 10px;
}

.top-strip-profilepic-name{
    width: 80%;
    margin-left: 2%;
}

.top-strip-profilepic-name h3{
    color: white;
    font-size: 12px;
    margin-top: 8%;
}

.top-strip-profilepic-name h4{
    color: grey;
    font-size: 9px;
    padding-left: 2%;
    padding-top: 2%;
}

/* COVER PHOTO CONTAINER*/

.cover-photo-container{
    display: flex;
    flex-direction: column;
    max-width: 70%;
    height: 300px;
    overflow: hidden;
    margin: 50px auto;
    border-radius: 0.5%;

}

.cover-photo-cover-container{
    height: 75%;
    width: 100%;
}

.cover-photo-cover-container img{
    max-width: 100%;
    height: auto;
}

.cover-photo-text-container{
    display: flex;
    height: 25%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    justify-content: space-around;
}

.cover-photo-text-timeline{
    display: flex;
    color: grey;
    font-size: 12px;
    align-items: center;
}

.cover-photo-text-about{
    display: flex;
    color: grey;
    font-size: 12px;
    align-items: center;
}


.cover-photo-text-friends{
    display: flex;
    color: grey;
    font-size: 12px;
    align-items: center;
}


.cover-photo-text-propic-container{
    display: block;
    position: relative;
}

.cover-photo-text-propic-photo{
    position:absolute;
    bottom: 45px;
    border-radius: 100%;
    border: 2px solid #fff;

}

.cover-photo-text-propic-photo img{
    width:100%;
    height:100%;    
    border-radius: 50%;

}
.cover-photo-text-propic-name{
    display: block;
    flex-direction: column;
    height: 100%;
    position: relative;
    top: 30px;
}

.cover-photo-text-propic-name h3{
    color: rgb(65, 65, 65);
    font-size: 16px;
    font-weight: bold;
}

.cover-photo-text-propic-name h4{
    color: rgb(165, 165, 165);
    font-size: 10px;
    padding-left: 10px;
}

.cover-photo-text-photo{
    display: flex;
    color: grey;
    font-size: 12px;
    align-items: center;
}

.cover-photo-text-video{
    display: flex;
    color: grey;
    font-size: 12px;
    align-items: center;
}

.cover-photo-text-icons-container{
    display: flex;
    position: relative;
    bottom: 17px;
    left: 20px;    
}

.cover-photo-text-icons1-container{
    background-color: rgb(56, 169, 255);
    width: 35px;
    height: 35px;
    margin-right: 5px;
    border-radius: 50%;
    
}

.cover-photo-text-icons2-container{
    background-color: rgb(124, 90, 194);
    width: 35px;
    height: 35px;
    margin-right: 5px;
    border-radius: 50%;
  
}

.cover-photo-text-icons3-container{
    background-color: rgb(255, 94, 58);
    width: 35px;
    height: 35px;
    border-radius: 50%;

}

.cover-photo-text-icons{
   display: block;
   position: relative;
   margin: 0 auto;
   top: 8px;
   
    color: white;


}