* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    
}

body{
    background: rgb(237, 242, 246);
}


/*
name color : color: rgb(65, 65, 65);
san francisco color: rgb(165, 165, 165);
box border border-bottom: solid 1px rgba(209, 209, 209, 0.637);

*/

/* Top Strip*/
.top-strip{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    background: rgb(63, 66, 87);
    box-shadow: 0 0 5px rgba(5, 5, 5, 0.5);
    z-index: 100;
}

.topleft{
    display: flex;
    width: 40%;
}

.ppage{
    width: 15%;
    height: 100%;
    display: flex;
    font-size: 12px;
    color: #fff;
    white-space: nowrap;
    justify-content: center;
    margin-left: 10px;
}

.ppage p{
    align-self: center;
    padding: 0 5px;
}

.search{
    display: flex;
    width: 70%;
    border: none;
    margin-left: 10px;
    background-color: rgb(73, 76, 98);
}

#sbox{
    height: 100%;
    width: 90%;
}

#sbox input{
    width: 100%;
    height: 100%;
    background-color: rgb(73, 76, 98);
    padding: 0 10px;
    color: #fff;
    font-size: 12px;
    
}

#searchbtn{
    display: flex;
    justify-content: center;
    width: 55px;
}

#searchbtn button{

    width: 100%;
    height: 100%;
    align-self: center;
    background-color: rgb(73, 76, 98);
    color: grey;
    font-size: 16px;

}

.findf{
    width: 15%;
    height: 100%;
    display: flex;
    font-size: 12px;
    color: #fff;
    white-space: nowrap;
    justify-content: center;
    margin-left: 10px;
}

.findf p{
    align-self: center;
    padding: 0 5px;
}

.topcenter{
    display: flex;
    width:30%;
}

.topright{
    display: flex;
    width: 30%;
}

.topnotify{
    display: flex;
    justify-content: end;
    width: 50%;
    align-self: center;
}

.notiicons{
    color: white;
    font-size: 20px;
    align-self: center;
    margin-right: 25px;
}

.topproname{
    display: flex;
    width: 50%;
}

.propic{
    display: flex;
    justify-content: end;
    width: 30%;
}

.propic img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    align-self: center;
}

.proname{
    width: 70%;
    padding-left: 5px;
    align-self: center;
    justify-content: start;
    
}

#topname{
    font-size: 12px;
    padding-bottom: 4px;
    white-space: nowrap;
    color: #fff;
}

#nickname{
    font-size: 8px;
    color: grey;
    white-space: nowrap;
    padding-left: 6px;
}

.burger{
    display: none;
    width: 50px;
    margin: 0 10px;
    justify-content: center;
    

}

#burger-icon{
    font-size: 30px;
    height: 100%;
    color: grey;
    background: rgb(63, 66, 87);
}

/* Cover */

.cover{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 350px;
    margin: 75px auto 10px auto;
    background: #fff;
    border-radius: 0.5%;
    position: relative;
    z-index: 1;
}

.coverpic{
    width: 100%;
    height: 75%;
    overflow: hidden;
    background: yellow;
    align-self: center;
}

.menu{
    display: flex;
    
    width: 90%;
    height: 25%;
    margin: 0 auto;
    font-size: 14px;

}

.menusize{
    width: 14.28%;
}

.menustyle {
    align-self: center;
    text-align: center;
    color: grey;
    font-weight: 700;
}

.dp{
    display: flex;
    flex-direction: column;
}

.dppic{
    display: flex;
    height: 40%;
    justify-content: center;
    
}

.dppic img{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    bottom: 60px;
}

.dpname{
    height: 60%;
    text-align: center;
    font-size: 14px;
}

#dpname1{
    font-weight: bold;
    white-space: nowrap;
    padding-top: 5px;
}

#dpname2{
    font-weight: lighter;
    color: grey;
    white-space: nowrap;
    font-size: 0.7em;
    padding-top: 5px;
}

.menuicons{
    display: flex;
    position: absolute;
    bottom: 72.5px;
    right: 0;
    width: 200px;
}
.coloricon{
    width: 20px;
    height: 20px;
    font-size: 5px;
    color: #fff;
    padding: 7.5px;
    border-radius: 50%;
    
    margin-right: 10px;
}

.color1{
    background-color: rgb(56, 169, 255);
}

.color2{
    background-color: rgb(124, 90, 194);
}

.color3{
    background-color: rgb(255, 94, 58);
}

/* BOX */

#box{
    width: 500px;
    height: 100%;
    margin: 20px auto 0 auto ;
}

/* BOX 1 */

.box1{
    width: 100%;
    padding: 10px 15px;
    background: #fff;
    margin-bottom: 15px;
}

.box1head{
    display: flex;
    width: 100%;
    height: 50px;
}

.box1dp{
    width: 8.5%;
    align-self: center;
}

.box1dp img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.box1name{
    width: 31.5%;
    align-self: center;

}

#box1dpname{
    font-size: 12px;
    color: #000;
    white-space: nowrap;
}

#box1time{
    font-size: 10px;
    color: grey;
    white-space: nowrap;
}

.box1dummy{
    width: 50%;
}

.box1dot{
    width: 10%;
    align-self: center;
    text-align: center;
}

.box1post{
    margin-top: 5px;
}
.box1post p{
   min-height: 80px;
    font-size: 13px;
    color: grey;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 7;
}

.box1foot{
    display: flex;
    width: 100%;
    height: 40px;
    overflow: hidden;
    border-top: 1px solid rgba(165, 163, 163, 0.5);
    padding-top: 5px;
}

.box1heart {
    display: flex;
    width: 10%;
    height: 100%;
    background: white;
    margin-right: 5px;

}

.likebtn{
    display: flex;
    background: #fff;
}

.likebtn.like #heart{
    fill: red;
    
}

#heart{
    width: 18px;
    height: 18px;
    align-self: center;
    
}

.likecount{
    padding-left: 5px;
    width: auto;
    border: none;
    pointer-events: none;
}

input:focus{
    outline: none;
}


.box1likes{
    width: 5%;
    display: flex;
    justify-content: start;
}

.box1likes p{
    align-self: center;
    font-size: 12px;
    color: grey;
    font-weight: lighter;
}

.box1frndspic{
    display: flex;
    width: 15%;
    position: relative;
}

.box1frndspic img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #fff;
    align-self: center;
}



#friend2{
    position: absolute;
    left: 12px;
}

#friend3{
    position: absolute;
    left: 22px;
}

#friend3{
    position: absolute;
    left: 22px;
}

#friend4{
    position: absolute;
    left: 32px;
}

#friend5{
    position: absolute;
    left: 42px;
}

.box1frndsname{
    width:25%;
}

.box1footdum{
    width: 25%;
}

.box1noti{
    width: 25%;
}

.box1frndsname{
    align-self: center;
    font-size: 10px;
}

.box1noti{
    display: flex;
}

.box1comm{
    width: 50%;
    display: flex;
    justify-content: center;
}

.box1chat{
    font-size: 17px;
    color: grey;
    align-self: center;
    margin-right: 10px;
}

.comnum{
    font-size: 12px;
    color: grey;
    align-self: center;
}

.box1share{
    width: 50%;
    display: flex;
    justify-content: center;
}

/* BOX 2 */

.box2{
    width: 100%;
    padding: 10px 15px;
    background: #fff;
    margin-bottom: 15px;
}

.box2post{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.descrip{
    max-height: 50px;
}

.descrip p{
    color: grey;
    font-size: 13px;
}

.imgpost{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    background: rgba(128, 128, 128, 0.171);
    align-self: center;
}

/* BOX 3 */

.box3{
    width: 100%;
    padding: 10px 15px;
    background: #fff;
    margin-bottom: 15px;
}

.box3post {
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
}

#output{
    font-size: 20px;
    text-align: center;
    color: grey;
    margin-top: 50px;
}

#poll p{

    min-height: 30px;
    font-size: 13px;
    color: grey;
    padding-top: 5px;
}

.options{
    display: block;
    font-size: 13px;
    color: grey;
    white-space: nowrap;
    margin-bottom: 0px;
}

.submit{
    display: flex;
    height: 50px;
}

#submitbtn{
    background: rgba(119, 116, 116);
    border: 0.5px solid rgb(53, 53, 53);
    color: #fff;
    padding: 7px 14px;
    border-radius: 12px;
    font-size: 12px;
    align-self: center;
}

#newpost{
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: rgb(76, 80, 109);
    position: fixed;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    margin: 20px 20px;
}
#newpost:hover{
    background: rgb(73, 76, 98);
}

#newicon{
    color: #fff;
    font-size: 25px;
    align-self: center;
}

/* Modal */

.modal{
    width: 100%;
    height: 100%;
    background: rgb(0,0,0,0.7);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: none;
}

.close-icon{
    font-size: 30px;
    color:#fff;
    background: red;
    border-radius: 50%;
}

/*Modal Menu*/

.modalmenu{
    display: none;
    position: relative;
    width: 40%;
    height: 50%;
    background: #000;
    border: 1px solid #fff;
    color: white;
    z-index:1001;
}


#list{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 10x auto;
    position: absolute;
    left: 25%;
    align-self: center;
}

.listitem{
    margin: 10px 0px;
    font-size: 20px;
}

#closemenu{
    display: inline-block;
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 20px;
}




#formnext{
    width: 80px;
    height: 40px;
    border-radius: 5px;
    background: grey;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

#formnext p{
    color: black;
    font-size: 14px;
}

/* modal text*/

.modalform{
    position: relative;
    width: 100%;
    margin: 10% auto;

}

.modal1{
    display: none;
    position: relative;
    width: 40%;
    height: 50%;
    background: #000;
    border: 1px solid #fff;
    z-index:1001;
}

#modallabel{
    text-align: center;
    padding: 10px;
    font-weight: bold;
    color: #fff;
}

#modal1input{
    display: flex;
    background: grey;
    color: #fff;
    width:75%;
    height: 100px;
    padding: 10px;
    margin: 10px auto;
}

#modal1submit{
    width: 80px;
    height: 40px;
    border-radius: 5px;
    background: grey;
    position: absolute;
    right: 12.5%;
}


#modal1back{
    width: 80px;
    height: 40px;
    border-radius: 5px;
    background: grey;
    position: absolute;
    left: 12.5%;
}

#closetext{
    display: inline-block;
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 50%;
}